# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Other
*.html
.idea
*.iml
.DS_Store
j--/out
j--/src/jminusminus/JavaCCParser.java
j--/src/jminusminus/JavaCCParserConstants.java
j--/src/jminusminus/JavaCCParserTokenManager.java
j--/src/jminusminus/ParseException.java
j--/src/jminusminus/SimpleCharStream.java
j--/src/jminusminus/Token.java
j--/src/jminusminus/TokenMgrError.java
j--/lib/j--.jar
